html {
    font-family:Arial, Helvetica, sans-serif; 
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
  }
  
  header {
    background-color: white;
    padding-bottom: 5%;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
  
  .logo img {
    padding-top: 3%;
    width: 15%;
    max-width: 25%;
    height:15%;
    max-height:25%;
   flex: auto;
   text-align: right;
   align-content: right;
  }
  
  .content {
    padding: 20px;
    margin: 3%;
    background-color: white;
  }
  
  
  
  ul {
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

#table {
    padding-top: 15%;
    padding-bottom: 15%;

}

#bird {
    padding-top: 15%;
    height: 45%;
}